In [4]:
import pandas as pd
import numpy as np
import sqlite3

In [11]:
conn = sqlite3.connect('movies.db')

In [7]:
df = pd.read_sql('movies.db', conn)

DatabaseError: Execution failed on sql 'movies.db': near "movies": syntax error

In [9]:
conn.fetchall()

AttributeError: 'sqlite3.Connection' object has no attribute 'fetchall'

In [13]:
query = conn.execute("SELECT * From movies")
cols = [column[0] for column in query.description]
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

DatabaseError: malformed database schema (?)